<% include header %>

<p style = "position:absolute;left:200px;top:200px"><a href = "/adminTest" class="btn btn-lg btn-danger" role="button">Add a Text Contest!&raquo;</a></p>
<p style = "position:absolute;left:200px;top:280px"><a href = "/addNotification" class="btn btn-lg btn-danger" role="button">Send a Notification!&raquo;</a></p>
<p style = "position:absolute;left:200px;top:360px"><a href = "/addImageTest" class="btn btn-lg btn-danger" role="button">Add Image Contest!&raquo;</a></p>
<p style = "position:absolute;left:200px;top:440px"><a href = "/endContest" class="btn btn-lg btn-danger" role="button">End of Contest&raquo;</a></p>
<p style = "position:absolute;left:600px;top:200px"><a href = "/updateTime" class="btn btn-lg btn-danger" role="button">Update Contest Time!&raquo;</a></p>
<p style = "position:absolute;left:600px;top:280px"><a href = "/deleteContest" class="btn btn-lg btn-danger" role="button">Delete Contest!&raquo;</a></p>
<p style = "position:absolute;left:600px;top:360px"><a href = "/sendMail" class="btn btn-lg btn-danger" role="button">Send Notification Mail!&raquo;</a></p>
<p style = "position:absolute;left:600px;top:440px"><a href = "/updateProfile" class="btn btn-lg btn-danger" role="button">Update Profile!&raquo;</a></p>
<p style = "position:absolute;left:200px;top:520px"><a href = "/addPractice" class="btn btn-lg btn-danger" role="button">Add Practice Question&raquo;</a></p>
<p style = "position:absolute;left:600px;top:520px"><a href = "/deleteUser" class="btn btn-lg btn-danger" role="button">Delete a User&raquo;</a></p>
<p style = "position:absolute;left:200px;top:600px"><a href = "/updateQuestion" class="btn btn-lg btn-danger" role="button">Update Question&raquo;</a></p>

</body>
</html>