<% include headeroff %>

<h2  style = "position:absolute;top:200px;left:200px">You need to Login to View / Participate in a Contest.</h2>
<div style = "position:absolute;top:300px;left:250px">
 <p><a href = "/register" class="btn btn-lg btn-danger" role="button">Register Here&raquo;</a></p>
 <div>
</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52998190-1', 'auto');
  ga('send', 'pageview');

</script>
</html>